@model IEnumerable<Ode2Mvc4.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h5>We are showing the latest @Model.Count() reviews</h5>

<p>
    @Html.ActionLink("Create New", "Create") 
</p>

@foreach (var item in Model) {
    @:Whatever
    <div>
        <h4>@item.Name</h4>
        <span>Rating @item.Rating</span>
        <p>@item.City, @item.Country</p>
    </div>
}


